* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cuerpo {

    background-image: radial-gradient(circle farthest-corner at center, #3C4B57 0%, #1C262B 100%);
<<<<<<< HEAD
=======
   /* overflow: hidden;*/
>>>>>>> origin/master
}

/*HEADER*/
.contLetra {
    float: left;
}

.contLetra a {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Poiret One';
<<<<<<< HEAD
    text-align: center;
    color: #fff;
=======
    color: white;
>>>>>>> origin/master
}
.contLetra a:hover {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

#menu:hover {
    cursor:pointer;
}
