@import url(https://fonts.googleapis.com/css?family=Candal);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
body{
    background-image: url(img/fondo3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;


}
.cont0 {
    background-color: rgba(34,40,49,0.5);
    font-family: 'Montserrat';
    color: white;
    text-align: center;
    box-shadow: 1px 1px 1px 1px black;
}

.cont1 {
    background: #EEEEEE;

}
.espacio{
    margin-top: 3%;
}

a.oton{
    background-color: rgba(255,255,255,0.9);
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display:inline-block;
    text-decoration:none;
    color: #2e6da4;
    border: 3px solid #2e6da4;
    border-radius:5px;
    position:relative;
    overflow:hidden;
    transition: all ease 400ms;
    box-shadow: 5px 5px 8px #646566;
    -webkit-transition: all ease 400ms;
    -moz-transition: all ease 400ms;
    -ms-transition: all ease 400ms;
}

a.oton span{
    display:block;
    position:absolute;
    background: #00853E;
    transition: all ease 400ms;
  -webkit-transition: all ease 400ms;
  -moz-transition: all ease 400ms;
  -ms-transition: all ease 400ms;
    z-index:-1;
}

a.oton span.center{
    left:0;
    top:0;
    right:0;
    bottom:0;
    width:50px;
    height:50px;
    border-radius:100px;
    margin: auto;
    transform:scale(0,0);
    transition: all ease 500ms;
  -webkit-transition: all ease 500ms;
  -moz-transition: all ease 500ms;
  -ms-transition: all ease 500ms;
    z-index:-1;
}

a.oton:hover{
    border: 2px solid #2e6da4;
}

a.oton:hover span.center{
    transform: scale(2,2);
    width:100%;
    height:100%;
}

div .principal{
    background-color: rgba(255,255,255,0.6);
}

.fondo{
    background-image: url(img/fondo3.jpg);
    padding-top: 10px;
    padding-bottom: 10px;
}

.fondo2{
    background-image: url(img/melamina.jpg);
    padding-top: 10px;
    padding-bottom: 10px;
}
