.consultaqr{
    text-align: center;
    margin: 20px auto;
}

    #qr-canvas{
        display:none;
    }

    #outdiv{
        padding-top: 20px;
    }

    #v{
        width: 60%;
        border: 1px solid white;
    }

@media only screen and (max-width: 970px) {
    #v{
        width:100%;
    }
}
